.page-content {
    padding: 2rem;    
}

.legend {
    font-size: 1.3rem;
    margin: 0;
    padding: 0 0 0.5rem;
    line-height: 1;
}

label {
    
}

input[type="text"],
input[type="password"] {
    display: block;
}

.input-help {
    color: #aaa;
}

#callData {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 2rem 1rem rgba(0,0,0,0.2);
}
